{% extends 'Receptionist/ReceptionistNavbar.html' %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-blue">
                    <div class="inner">
                        <center><h3> {{ superuser }} </h3></center>
                        <center><h4> Super Admin  </h4></center>
                    </div>
                    <br>
                    <br>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-green">
                    <div class="inner">
                        <center><h3> {{ patient }} </h3></center>
                        <center><h4>  Patient </h4></center>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-red">
                    <div class="inner">
                        <center><h3> {{ doctor }} </h3></center>
                        <center> <h4> Doctor </h4></center>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}