{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<br><br><br><br><br><br><br>
    {% for test in test %}

        <h1>Doctor Name : {{ test.doctor }}</h1>
        <h1>Patient Name : {{ test.patient }}</h1>
        <h1>Phone Number : {{ test.Number }}</h1>
        <h1>Meet Up Link : {{ test.meet_link }}</h1>
        <h1>Test : {{ test.test }}</h1>
<br>
     <a  class="btn btn-primary" href="{% url 'doctor_list_take_appointment' %}">Back Appointment List</a>
    {% endfor %}

{% endblock content %}