{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>MedKit</title>
</head>
<body>
    <!-- preheader section html start -->
    <section class="pre-header">
        <div class="container">
            <div class="header-row">
                <div class="left-icon">

                </div>
                <div class="right-icon">
                    <i class="fas fa-envelope-square">medkit@gmail.com</i>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-whatsapp"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-linkedin-in"></i>
                </div>
            </div>
        </div>
    </section>
    <!--header section html part start-->
    <section class="header">
        <div class="container">
            <div class="logo">
                <a href="{% url 'index' %}">MedKit</a>
            </div>
            <div class="manu-bar">
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'doctors_list' %}">Doctor</a></li>

                    {% if user.is_authenticated and user.is_staff %}

                        <li><a href="{% url 'ReceptionistHome' %}"><span class="glyphicon glyphicon-log-in"></span> Dashboard</a></li>
                        <li><a href="{% url 'log_out' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>

                    {% elif user.is_authenticated and user.is_doctor %}

                        <li><a href="{% url 'ReceptionistHome' %}"><span class="glyphicon glyphicon-log-in"></span> View Appointment</a></li>
                        <li><a href="{% url 'DoctorProfile' %}"><span class="glyphicon glyphicon-log-in"></span> Profile </a></li>
                        <li><a href="{% url 'change_password' %}"><span class="glyphicon glyphicon-log-in"></span> Change Password</a></li>
                        <li><a href="{% url 'change_email' %}"><span class="glyphicon glyphicon-log-in"></span> Change Email</a></li>
                        <li><a href="{% url 'log_out' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>

                    {% elif user.is_authenticated and user.is_patient %}

                        <li><a href="{% url 'ReceptionistHome' %}"><span class="glyphicon glyphicon-log-in"></span> View Applied Appointment</a></li>
                        <li><a href="{% url 'PatientProfile' %}"><span class="glyphicon glyphicon-log-in"></span> Profile</a></li>
                        <li><a href="{% url 'change_email' %}"><span class="glyphicon glyphicon-log-in"></span> Change Email</a></li>
                        <li><a href="{% url 'change_password' %}"><span class="glyphicon glyphicon-log-in"></span> Change Password</a></li>
                        <li><a href="{% url 'log_out' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>

                    {% else %}
                         <li><a href="{% url 'log_in' %}">Log In</a></li>
                         <li><a href="{% url 'sign_up' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>