{% for employee in employees %}
  {% if employee.is_doctor %}
      <tr>
          <td>{{ employee.id }}</td>
          <td>{{ employee.username}}</td>
          <td>{{ employee.first_name }}</td>
          <td>{{ employee.last_name }}</td>
          <td>{{ employee.email }}</td>
          <td>
              {{ employee.MinistryName}}
<!--              {% for group in employee.MinistryName.all %}-->
<!--                     {{ group.MinistryName }}<br>-->
<!--               {% endfor%}-->
          </td>
          <td style="width: 150px">
              <a href="{% url 'doctor_update' employee.id %}" type="button" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
            <button type="button"
                    class="btn btn-success btn-sm js-view-employee"
                    data-url="{% url 'doctor_view' employee.id %}">
              <span class='glyphicon glyphicon-eye-open'></span>
            </button>

            <button type="button"
                    class="btn btn-danger btn-sm js-delete-employee"
                    data-url="{% url 'doctor_delete' employee.id %}">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
      </tr>
  {% endif%}
        {% empty %}
          <tr>
            <td colspan="8" class="text-center bg-warning">No employee</td>
          </tr>
{% endfor %}