{% extends 'Receptionist/ReceptionistNavbar.html' %}
{% load widget_tweaks %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<table class="table" id="datatable-buttons"  style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Doctor Name </th>
                                    <th>Patient Name </th>
                                    <th>Phone Number</th>
                                    <th>Trx ID</th>
                                    <th>Amount</th>
                                    <th>Apply</th>
                                    <th>Payment Status</th>


                                </tr>
                            </thead>
                            <tbody>
                                  {% for appointment in appointment %}
                                    <tr>
                                      <th scope="row">{{ appointment.id}}</th>
                                      <td>{{ appointment.doctor }}</td>
                                      <td>{{ appointment.patient }}</td>
                                      <td>{{ appointment.Number }}</td>
                                      <td>{{ appointment.TrxID }}</td>
                                      <td>{{ appointment.amount }}</td>
                                      <td>{{ appointment.is_apply }}</td>
                                      <td>{{ appointment.payment_status }}</td>

                                    </tr>
                                 {% endfor %}
                            </tbody>
                        </table>
{% endblock content %}